<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<title>WebSiteName/Company</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<!--!!!!!!!!!!! remove for production--><meta name="robots" content="noindex, nofollow"><!--!!!!!!!!!!! remove for production-->

	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	<link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="WebSiteName/Company Search">
	<link rel="author" href="https://plus.google.com/xxxxxxxxxxxxxxxxxxx/posts">

	<link rel="stylesheet" href="css/screen.css?v=01">
	<!--[if IE]><link rel="stylesheet" href="css/ie.css"><![endif]-->

	<script src="js/lib/modernizr-2.6.1-respond-1.1.0.min.js"></script>
</head>

<body>

<div class="container12 wrap">

	<header role="banner">
		<a class="logo" href="index.html">WebSiteName/Company Logo</a>
		<nav role="navigation">
			<ul>
				<li><a href="_typography.html">Typography</a>
					<ul>
						<li><a href="#">Sub link</a></li>
						<li><a href="#">Sub link</a></li>
						<li><a href="#">Sub link</a>
							<ul>
								<li><a href="#">Sub Sub link</a>
								<li><a href="#">Sub Sub link</a>
								<li><a href="#">Sub Sub link</a>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="_lists.html">Lists</a></li>
				<li><a href="_tables.html">Tables</a></li>
				<li><a href="_images.html">Images</a></li>
				<li><a href="_buttons.html">Buttons</a></li>
				<li><a href="_forms.html">Forms</a></li>
				<li><a href="_js.html">JS stuff</a></li>
				<li><a href="_grid.html">Grid</a></li>
			</ul>
		</nav>
		<form>
			<div class="form-fields">
				<label for="search" class="hide">Search form</label>
				<div class="input-group">
					<input class="big" type="search" name="search" placeholder="Enter search keywords">
					<input type="submit" value="Search">
				</div>
			</div>
		</form>
		<div class="toggle-controls">
			<a href="#" title="Toggle menu" data-toggle="main-menu"><i class="icon-reorder"></i></a>
			<a href="#" title="Toggle search form" data-toggle="search"><i class="icon-search"></i></a>
		</div><!--/ .toggle-controls -->
	</header><!--banner-->

	<hr>

	<div class="row">
		<div role="main" class="span8">
			<h1>Main Title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div><!--main-->
		<aside role="complementary" class="span4">
			<h2>Side Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</aside><!--complementary-->
	</div><!--row-->

	<hr>

	<footer role="contentinfo">
		<nav>
			<ul>
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
			</ul>
		</nav>
		<small>Copyright &copy; 2013 WebSiteName</small>
	</footer><!--contentinfo-->

</div><!--/ #wrap -->

<!--optional--><a class="back-to-top" title="go back to top"><i aria-hidden="true" class="icon-chevron-up"></i></a><!--optional-->

<!--JS-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/lib/jquery.min.js"><\/script>')</script>
<!--[if (gte IE 6)&(lte IE 8)]><script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/plugins/breakpoints.js"></script>
<script src="js/global.js?v=01"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
	// var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	// (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	// g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	// s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<!--JS END-->

</body>
</html>