@import url(webfonts/Font-Awesome/css/font-awesome.css);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  text-align: left; }

img {
  border: 0;
  max-width: 100% !important; }

label {
  cursor: pointer; }

textarea {
  resize: vertical; }

code {
  line-height: 1em;
  font-family: Monaco, Consolas, "Bitstream Vera Sans Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace; }

img {
  vertical-align: middle; }

hr {
  clear: both;
  overflow: hidden;
  margin: 16px 0;
  height: 1px;
  border: 0;
  background-color: #eeeeee; }

blockquote {
  margin: 0 0 16px;
  padding-left: 16px;
  border-left: 1px solid #eeeeee; }
  blockquote cite {
    font-size: 0.76563em; }

pre {
  margin: 0 0 16px;
  padding: 12px;
  background-color: #f5f5f5;
  font-size: 0.875em;
  font-family: Monaco, Consolas, "Bitstream Vera Sans Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace; }

.clear {
  clear: both; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

.destroy {
  display: none !important;
  visibility: hidden !important; }

.center {
  text-align: center; }

.aleft {
  text-align: left; }

.aright {
  text-align: right; }

.flleft {
  float: left;
  display: inline;
  width: auto; }

.flright {
  float: right;
  display: inline;
  width: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

::-moz-selection {
  background: #444444;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #444444;
  color: #fff;
  text-shadow: none; }

.toggle {
  cursor: pointer; }

.toggle-controls {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 1.3125em; }

a.back-to-top {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  position: fixed;
  right: 16px;
  bottom: 16px;
  font-size: 0.875em;
  cursor: pointer; }

html {
  background-color: white;
  color: #444444;
  font-size: 16px; }

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin: 0 0 16px;
  letter-spacing: -0.02em;
  font-weight: normal;
  line-height: 1; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #777777;
    font-size: .6em; }
  h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee; }
  h1.toggle i, h2.toggle i, h3.toggle i, h4.toggle i, h5.toggle i, h6.toggle i {
    display: inline-block;
    vertical-align: top;
    margin-top: .2em;
    font-style: normal;
    font-size: 0.7em;
    font-family: FontAwesome; }
    h1.toggle i:before, h2.toggle i:before, h3.toggle i:before, h4.toggle i:before, h5.toggle i:before, h6.toggle i:before {
      content: "\f055"; }
  h1.toggle.collapsed i:before, h2.toggle.collapsed i:before, h3.toggle.collapsed i:before, h4.toggle.collapsed i:before, h5.toggle.collapsed i:before, h6.toggle.collapsed i:before {
    content: "\f056"; }

h1 {
  font-size: 1.85938em; }

h2 {
  font-size: 1.53125em; }

h3 {
  font-size: 1.3125em; }

h4 {
  font-size: 1.09375em;
  font-weight: bold; }

h5 {
  font-size: 0.875em;
  font-weight: bold; }

h6 {
  font-size: 0.76563em;
  font-weight: bold; }

p {
  margin: 0 0 16px;
  font-size: 0.875em;
  line-height: 1.5em; }

a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  text-decoration: none; }
  a, a:link, a:visited {
    color: #1969e8; }
  a:hover, a:active {
    color: black; }

header[role="banner"] {
  position: relative; }
  header[role="banner"]:before, header[role="banner"]:after {
    content: "";
    display: table; }
  header[role="banner"]:after {
    clear: both; }
  header[role="banner"] {
    zoom: 1; }
  header[role="banner"] .logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-indent: -99999em;
    background: url("../images/logo.png") no-repeat 0 0;
    background-image: url("../images/logo.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      header[role="banner"] .logo {
        background-image: url("../images/logo@2x.png");
        background-size: 100px 100px; } }

footer {
  clear: both; }

footer[role="contentinfo"] small {
  font-size: 0.65625em;
  display: block; }

ul, ol, dl {
  margin: 0 0 16px;
  padding: 0;
  font-size: 0.875em;
  line-height: 1.5em; }

ul {
  list-style: disc outside; }

ol {
  list-style: decimal outside; }

ul ul, ul ol, ol ul, ol ol {
  margin: 0; }

li, dd {
  margin-left: 32px; }

li ul, li ol {
  font-size: 1em; }

nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none outside; }

nav li {
  margin: 0;
  padding: 0;
  display: inline; }

/*nav[role="navigation"] li {display: block;}*/
dt {
  font-weight: bold;
  margin-top: 8px; }
  dt:first-child {
    margin-top: 0; }

ul.no-bullets, ol.no-bullets {
  list-style: none outside; }
  ul.no-bullets li, ol.no-bullets li {
    margin-left: 0; }
    ul.no-bullets li ul, ul.no-bullets li ol, ol.no-bullets li ul, ol.no-bullets li ol {
      list-style: none outside;
      margin-left: 32px; }

form {
  margin: 0 0 16px;
  overflow: hidden; }
  form h1, form h2, form h3, form h4, form h5, form h6 {
    margin: 8px 0; }
  form p {
    clear: both;
    padding-top: 5px;
    font-size: 0.875em; }
    form p.hint {
      margin-top: -4px;
      margin-bottom: 4px;
      padding-top: 0;
      color: #848484;
      font-size: 0.76563em; }
  form div.form-fields {
    clear: both;
    overflow: hidden; }
    form div.form-fields p {
      margin: 0 0 2.66667px; }
      form div.form-fields p.hint {
        clear: both;
        margin-top: -4px;
        margin-bottom: 4px;
        padding-top: 0;
        color: #848484;
        font-size: 0.76563em; }
    form div.form-fields input, form div.form-fields button, form div.form-fields textarea, form div.form-fields select, form div.form-fields span.icon {
      margin-top: 0; }
  form legend {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 0.875em; }
  form fieldset {
    margin: 0;
    padding: 0;
    border: 0; }
  form label {
    display: block;
    overflow: visible;
    margin: 0 0 4px;
    padding-top: 5px;
    font-size: 0.875em;
    line-height: 1.2em; }
    form label.inline {
      float: left;
      display: inline;
      width: auto;
      margin-top: 0;
      margin-right: 2%; }
      form label.inline input[type="checkbox"],
      form label.inline input[type="radio"] {
        margin-top: 0.14583em; }
  form input[type="text"],
  form input[type="pasword"],
  form input[type="search"],
  form input[type="url"],
  form input[type="tel"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  form [disabled="disabled"] {
    background-color: #f5f5f5; }
  form input, form button, form textarea, form select, form span.icon {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.875em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*line-height: normal !important; */
    color: #444444;
    max-width: 100%;
    display: block;
    padding: 4px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 1px 2px #eaeaea inset;
    -moz-box-shadow: 0 1px 2px #eaeaea inset;
    box-shadow: 0 1px 2px #eaeaea inset;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s; }
    form input:focus, form button:focus, form textarea:focus, form select:focus, form span.icon:focus {
      position: relative;
      z-index: 2;
      outline: none;
      border-color: #a4c4f6;
      -webkit-box-shadow: 0 0 4px #a4c4f6 inset;
      -moz-box-shadow: 0 0 4px #a4c4f6 inset;
      box-shadow: 0 0 4px #a4c4f6 inset; }
    form input[type="submit"], form input[type="reset"],
    form input span.icon, form button[type="submit"], form button[type="reset"],
    form button span.icon, form textarea[type="submit"], form textarea[type="reset"],
    form textarea span.icon, form select[type="submit"], form select[type="reset"],
    form select span.icon, form span.icon[type="submit"], form span.icon[type="reset"],
    form span.icon span.icon {
      padding: 5px 8px;
      border: 0;
      background-color: #4787ed;
      text-align: center;
      color: #fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-shadow: 0 -1px 0 #1254bc; }
      form input[type="submit"]:hover, form input[type="reset"]:hover,
      form input span.icon:hover, form button[type="submit"]:hover, form button[type="reset"]:hover,
      form button span.icon:hover, form textarea[type="submit"]:hover, form textarea[type="reset"]:hover,
      form textarea span.icon:hover, form select[type="submit"]:hover, form select[type="reset"]:hover,
      form select span.icon:hover, form span.icon[type="submit"]:hover, form span.icon[type="reset"]:hover,
      form span.icon span.icon:hover {
        background-color: #155ed3;
        text-shadow: 0 -1px 0 #0e3f8d; }
      form input[type="submit"]:active, form input[type="reset"]:active,
      form input span.icon:active, form button[type="submit"]:active, form button[type="reset"]:active,
      form button span.icon:active, form textarea[type="submit"]:active, form textarea[type="reset"]:active,
      form textarea span.icon:active, form select[type="submit"]:active, form select[type="reset"]:active,
      form select span.icon:active, form span.icon[type="submit"]:active, form span.icon[type="reset"]:active,
      form span.icon span.icon:active {
        position: relative;
        top: 1px; }
      form input[type="submit"][disabled="disabled"], form input[type="reset"][disabled="disabled"],
      form input span.icon[disabled="disabled"], form button[type="submit"][disabled="disabled"], form button[type="reset"][disabled="disabled"],
      form button span.icon[disabled="disabled"], form textarea[type="submit"][disabled="disabled"], form textarea[type="reset"][disabled="disabled"],
      form textarea span.icon[disabled="disabled"], form select[type="submit"][disabled="disabled"], form select[type="reset"][disabled="disabled"],
      form select span.icon[disabled="disabled"], form span.icon[type="submit"][disabled="disabled"], form span.icon[type="reset"][disabled="disabled"],
      form span.icon span.icon[disabled="disabled"] {
        background-color: #ddd;
        color: #999;
        text-shadow: 0 1px 0 white; }
    form input[type="reset"], form button[type="reset"], form textarea[type="reset"], form select[type="reset"], form span.icon[type="reset"] {
      background-color: #c8c8c8;
      text-shadow: 0 -1px 0 #a2a2a2; }
      form input[type="reset"]:hover, form button[type="reset"]:hover, form textarea[type="reset"]:hover, form select[type="reset"]:hover, form span.icon[type="reset"]:hover {
        background-color: #a2a2a2;
        text-shadow: 0 -1px 0 #888888; }
    form input[type="checkbox"], form input[type="radio"], form button[type="checkbox"], form button[type="radio"], form textarea[type="checkbox"], form textarea[type="radio"], form select[type="checkbox"], form select[type="radio"], form span.icon[type="checkbox"], form span.icon[type="radio"] {
      float: left;
      display: inline;
      margin: 0 0.21875em 0 0;
      padding: 0;
      border: 0;
      width: 13px;
      height: 13px;
      background: transparent none; }
    form input.smallest, form button.smallest, form textarea.smallest, form select.smallest, form span.icon.smallest {
      width: 10%;
      min-width: 30px; }
    form input.small, form button.small, form textarea.small, form select.small, form span.icon.small {
      width: 20%;
      min-width: 80px; }
    form input.normal, form button.normal, form textarea.normal, form select.normal, form span.icon.normal {
      width: 40%;
      min-width: 130px; }
    form input.big, form button.big, form textarea.big, form select.big, form span.icon.big {
      width: 60%;
      min-width: 180px; }
    form input.bigger, form button.bigger, form textarea.bigger, form select.bigger, form span.icon.bigger {
      width: 80%;
      min-width: 230px; }
    form input.biggest, form button.biggest, form textarea.biggest, form select.biggest, form span.icon.biggest {
      width: 100%;
      min-width: 280px; }
    form input.inline, form button.inline, form textarea.inline, form select.inline, form span.icon.inline {
      display: inline;
      float: left;
      margin: 0 2% 4px 0;
      width: auto; }
  form button, form span.icon {
    padding: 5px 8px;
    min-width: 32px;
    border: 0;
    background-color: #4787ed;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 -1px 0 #1254bc; }
    form button:hover, form span.icon:hover {
      background-color: #155ed3;
      text-shadow: 0 -1px 0 #0e3f8d; }
    form button:active, form span.icon:active {
      position: relative;
      top: 1px; }
    form button.button, form span.icon.button {
      text-shadow: none; }
    form button[disabled="disabled"], form span.icon[disabled="disabled"] {
      background-color: #ddd;
      color: #999;
      text-shadow: 0 1px 0 white; }
    form button [class^="icon-"], form span.icon [class^="icon-"] {
      line-height: .8em; }
  form span.icon,
  form span.icon:hover {
    background-color: #dddddd;
    color: #444444;
    text-shadow: 0 1px 0 white; }
  form select {
    padding: 3.2px; }
    form select:focus {
      position: static; }
  form div.checkbox-group,
  form div.radio-group {
    margin: 0 0 8px;
    display: block;
    overflow: hidden; }
    form div.checkbox-group label,
    form div.radio-group label {
      display: block;
      clear: both;
      padding-top: 0;
      padding-left: 24px;
      width: 100%;
      text-align: left; }
      form div.checkbox-group label input[type="checkbox"],
      form div.checkbox-group label input[type="radio"],
      form div.radio-group label input[type="checkbox"],
      form div.radio-group label input[type="radio"] {
        margin: 0.14583em 0.21875em 0 -22px; }
      form div.checkbox-group label input[type="radio"],
      form div.radio-group label input[type="radio"] {
        margin: 0.04375em 0.21875em 0 -22px; }
    form div.checkbox-group.inline label,
    form div.radio-group.inline label {
      float: left;
      clear: none;
      margin: 0 2% 0 0;
      white-space: nowrap; }
  form div.form-fields.inline {
    margin: 0 0 5.33333px; }
    form div.form-fields.inline label, form div.form-fields.inline p {
      display: inline;
      float: left;
      margin-right: 2%;
      min-width: 130px;
      width: 30%;
      line-height: 1.2em; }
      form div.form-fields.inline label.inline, form div.form-fields.inline p.inline {
        min-width: 20px;
        width: auto; }
    form div.form-fields.inline p.hint {
      width: auto; }
    form div.form-fields.inline div.inline-block {
      display: inline;
      float: left;
      width: 68%; }
      form div.form-fields.inline div.inline-block input, form div.form-fields.inline div.inline-block select, form div.form-fields.inline div.inline-block button {
        margin-bottom: 8px !important; }
      form div.form-fields.inline div.inline-block label {
        padding-top: 5px;
        min-width: 20px;
        width: auto;
        text-align: left; }
      form div.form-fields.inline div.inline-block div.checkbox-group label,
      form div.form-fields.inline div.inline-block div.radio-group label {
        margin-bottom: 0;
        width: 100%; }
      form div.form-fields.inline div.inline-block div.checkbox-group.inline label,
      form div.form-fields.inline div.inline-block div.radio-group.inline label {
        width: auto !important; }
  form div.input-group {
    overflow: hidden; }
    form div.input-group input, form div.input-group button, form div.input-group span.icon, form div.input-group select {
      position: relative;
      z-index: 1;
      display: inline;
      float: left;
      margin-right: -1px;
      margin-left: 0;
      width: auto;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      form div.input-group input:first-child, form div.input-group button:first-child, form div.input-group span.icon:first-child, form div.input-group select:first-child {
        -moz-border-radius-topleft: 2px;
        -webkit-border-top-left-radius: 2px;
        border-top-left-radius: 2px;
        -moz-border-radius-bottomleft: 2px;
        -webkit-border-bottom-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      form div.input-group input:last-child, form div.input-group button:last-child, form div.input-group span.icon:last-child, form div.input-group select:last-child {
        -moz-border-radius-topright: 2px;
        -webkit-border-top-right-radius: 2px;
        border-top-right-radius: 2px;
        -moz-border-radius-bottomright: 2px;
        -webkit-border-bottom-right-radius: 2px;
        border-bottom-right-radius: 2px; }
      form div.input-group input:focus, form div.input-group button:focus, form div.input-group span.icon:focus, form div.input-group select:focus {
        z-index: 2; }
      form div.input-group input:active, form div.input-group button:active, form div.input-group span.icon:active, form div.input-group select:active {
        top: 0; }
  form .indent {
    margin-left: 32%; }
  form ::-webkit-input-placeholder {
    color: #bbb; }
  form :-moz-placeholder {
    color: #bbb; }
  form .row [class*=span] {
    display: table; }
    form .row [class*=span] label,
    form .row [class*=span] div.inline-block {
      width: auto !important;
      min-width: auto !important;
      display: table-cell; }
    form .row [class*=span] label {
      padding-right: 2%; }
  form div.error button,
  form div.error input[type="submit"],
  form div.error input[type="reset"],
  form div.error span.icon {
    background-color: #e53e3e;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 -1px 0 #bd1919; }
  form div.error label,
  form div.error p.hint {
    color: #e53e3e; }
  form div.warning button,
  form div.warning input[type="submit"],
  form div.warning input[type="reset"],
  form div.warning span.icon {
    background-color: #fab40b;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 -1px 0 #ce9304; }
  form div.warning label,
  form div.warning p.hint {
    color: #fab40b; }
  form div.success button,
  form div.success input[type="submit"],
  form div.success input[type="reset"],
  form div.success span.icon {
    background-color: #2ad12a;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 -1px 0 #21a721; }
  form div.success label,
  form div.success p.hint {
    color: #2ad12a; }

@media only screen and (max-width: 767px) {
  form label.inline, form input.inline, form button.inline, form textarea.inline, form select.inline, form span.icon.inline {
    display: block;
    float: none;
    clear: both;
    margin-bottom: 8px;
    width: auto; }
  form div.checkbox-group.inline label, form div.radio-group.inline label {
    float: none;
    display: block;
    margin: 0 0 4px; }
  form div.form-fields.inline {
    margin-bottom: 0; }
    form div.form-fields.inline label, form div.form-fields.inline p, form div.form-fields.inline div.inline-block {
      width: 100%; }
  form .indent {
    margin-left: 0; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  form select {
    cursor: pointer;
    -webkit-appearance: none;
    padding: 4px;
    padding-right: 32px;
    background: white url(../images/bg-select.png) no-repeat 100% 50%; } }
table {
  margin: 0 0 16px;
  width: 100%;
  font-size: 0.875em; }
  table tr, table th, table td, table caption {
    padding: 5.33333px 8px;
    border: 1px solid #eeeeee; }
  table td {
    vertical-align: top; }
  table caption {
    padding: 0 0 5.33333px;
    border: 0;
    font-weight: bold; }
  table th {
    font-weight: bold; }
  table p, table li {
    font-size: 1em; }
  table.striped tbody tr:nth-child(even) {
    background-color: #fbfbfb; }
  table.horizontal tr, table.horizontal th, table.horizontal td, table.horizontal caption {
    padding: 5.33333px 0;
    border-width: 1px 0; }
  table.horizontal caption {
    padding: 0 0 5.33333px;
    border: 0; }
  table.horizontal.striped tr, table.horizontal.striped th, table.horizontal.striped td, table.horizontal.striped caption {
    padding: 5.33333px 8px;
    border-width: 1px 0; }
  table.horizontal.striped caption {
    padding: 0 0 5.33333px;
    border: 0; }

div.table-wrapper {
  overflow-x: scroll;
  overflow-y: hidden; }
  div.table-wrapper table {
    margin-bottom: 0; }
    div.table-wrapper table th {
      white-space: nowrap; }

a.button,
a:link.button,
a:visited.button {
  display: inline-block;
  padding: 5px 8px;
  border: 0;
  background-color: #dddddd;
  color: #444444;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.875em;
  line-height: normal !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 0 white; }
  a.button:hover,
  a:link.button:hover,
  a:visited.button:hover {
    background-color: #eeeeee; }
  a.button:active,
  a:link.button:active,
  a:visited.button:active {
    position: relative;
    top: 1px; }
  a.button.block,
  a:link.button.block,
  a:visited.button.block {
    display: block; }
  a.button.center,
  a:link.button.center,
  a:visited.button.center {
    text-align: center; }
  a.button.big,
  a:link.button.big,
  a:visited.button.big {
    font-size: 1.225em;
    -webkit-border-radius: 2.8px;
    -moz-border-radius: 2.8px;
    -ms-border-radius: 2.8px;
    -o-border-radius: 2.8px;
    border-radius: 2.8px; }
  a.button.small,
  a:link.button.small,
  a:visited.button.small {
    font-size: 0.72917em;
    -webkit-border-radius: 1.66667px;
    -moz-border-radius: 1.66667px;
    -ms-border-radius: 1.66667px;
    -o-border-radius: 1.66667px;
    border-radius: 1.66667px; }
  a.button.bold,
  a:link.button.bold,
  a:visited.button.bold {
    font-weight: bold;
    text-transform: uppercase; }
  a.button.action,
  a:link.button.action,
  a:visited.button.action {
    background-color: #4787ed;
    color: #fff;
    text-shadow: 0 -1px 0 #0e3f8d; }
    a.button.action:hover,
    a:link.button.action:hover,
    a:visited.button.action:hover {
      background-color: #155ed3;
      text-shadow: 0 -1px 0 #0e3f8d; }
  a.button.success,
  a:link.button.success,
  a:visited.button.success {
    background-color: #2ad12a;
    color: #fff;
    text-shadow: 0 -1px 0 #197c19; }
    a.button.success:hover,
    a:link.button.success:hover,
    a:visited.button.success:hover {
      background-color: #23af23;
      text-shadow: 0 -1px 0 #105210; }
  a.button.error,
  a:link.button.error,
  a:visited.button.error {
    background-color: #e53e3e;
    color: #fff;
    text-shadow: 0 -1px 0 #a71616; }
    a.button.error:hover,
    a:link.button.error:hover,
    a:visited.button.error:hover {
      background-color: #bd1919;
      text-shadow: 0 -1px 0 #7a1010; }
  a.button.twitter,
  a:link.button.twitter,
  a:visited.button.twitter {
    background-color: #0cf;
    padding: 4px 5.33333px;
    color: #fff;
    text-shadow: none; }
    a.button.twitter:hover,
    a:link.button.twitter:hover,
    a:visited.button.twitter:hover {
      background-color: #00b8e6; }
    a.button.twitter [class^="icon-"],
    a:link.button.twitter [class^="icon-"],
    a:visited.button.twitter [class^="icon-"] {
      width: 1em;
      margin: 0;
      text-align: center; }
  a.button.rss,
  a:link.button.rss,
  a:visited.button.rss {
    background-color: #f90;
    padding: 4px 5.33333px;
    color: #fff;
    text-shadow: none; }
    a.button.rss:hover,
    a:link.button.rss:hover,
    a:visited.button.rss:hover {
      background-color: #e68a00; }
    a.button.rss [class^="icon-"],
    a:link.button.rss [class^="icon-"],
    a:visited.button.rss [class^="icon-"] {
      width: 1em;
      margin: 0;
      text-align: center; }
  a.button.facebook,
  a:link.button.facebook,
  a:visited.button.facebook {
    background-color: #3B5998;
    padding: 4px 5.33333px;
    color: #fff;
    text-shadow: none; }
    a.button.facebook:hover,
    a:link.button.facebook:hover,
    a:visited.button.facebook:hover {
      background-color: #344e86; }
    a.button.facebook [class^="icon-"],
    a:link.button.facebook [class^="icon-"],
    a:visited.button.facebook [class^="icon-"] {
      width: 1em;
      margin: 0;
      text-align: center; }
  a.button.linkedin,
  a:link.button.linkedin,
  a:visited.button.linkedin {
    background-color: #3894C1;
    padding: 4px 5.33333px;
    color: #fff;
    text-shadow: none; }
    a.button.linkedin:hover,
    a:link.button.linkedin:hover,
    a:visited.button.linkedin:hover {
      background-color: #3285ad; }
    a.button.linkedin [class^="icon-"],
    a:link.button.linkedin [class^="icon-"],
    a:visited.button.linkedin [class^="icon-"] {
      width: 1em;
      margin: 0;
      text-align: center; }
  a.button [class^="icon-"],
  a:link.button [class^="icon-"],
  a:visited.button [class^="icon-"] {
    line-height: .8;
    margin: 0 .1em; }

.button-group {
  overflow: hidden; }
  .button-group a.button,
  .button-group a:link.button,
  .button-group a:visited.button {
    float: left;
    display: inline;
    width: auto;
    padding: 4px 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .button-group a.button:active,
    .button-group a:link.button:active,
    .button-group a:visited.button:active {
      top: 0; }
    .button-group a.button:first-child,
    .button-group a:link.button:first-child,
    .button-group a:visited.button:first-child {
      -moz-border-radius-topleft: 2px;
      -webkit-border-top-left-radius: 2px;
      border-top-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-bottom-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .button-group a.button:last-child,
    .button-group a:link.button:last-child,
    .button-group a:visited.button:last-child {
      -moz-border-radius-topright: 2px;
      -webkit-border-top-right-radius: 2px;
      border-top-right-radius: 2px;
      -moz-border-radius-bottomright: 2px;
      -webkit-border-bottom-right-radius: 2px;
      border-bottom-right-radius: 2px; }
    .button-group a.button.current,
    .button-group a:link.button.current,
    .button-group a:visited.button.current {
      cursor: default;
      background-color: #eeeeee;
      position: relative;
      z-index: 0; }
    .button-group a.button [class^="icon-"],
    .button-group a:link.button [class^="icon-"],
    .button-group a:visited.button [class^="icon-"] {
      margin: 0; }

p a.button,
p a:link.button,
p a:visited.button, li a.button,
li a:link.button,
li a:visited.button, table a.button,
table a:link.button,
table a:visited.button, form a.button,
form a:link.button,
form a:visited.button {
  font-size: 1em; }

div.pagination {
  overflow: hidden; }
  div.pagination a,
  div.pagination a:link,
  div.pagination a:visited,
  div.pagination span {
    display: inline-block;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 4px 10.56px;
    width: auto;
    background-color: white;
    color: #444444;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.875em;
    line-height: normal !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s; }
    div.pagination a.current,
    div.pagination a:link.current,
    div.pagination a:visited.current,
    div.pagination span.current {
      cursor: default;
      background-color: #4787ed;
      color: #fff;
      position: relative;
      z-index: 0; }
    div.pagination a.pages,
    div.pagination a:link.pages,
    div.pagination a:visited.pages,
    div.pagination span.pages {
      background-color: white; }
    div.pagination a:hover,
    div.pagination a:link:hover,
    div.pagination a:visited:hover,
    div.pagination span:hover {
      background-color: #4787ed;
      color: #fff;
      position: relative;
      z-index: 1; }
    div.pagination a.pages:hover,
    div.pagination a:link.pages:hover,
    div.pagination a:visited.pages:hover,
    div.pagination span.pages:hover {
      background-color: white; }
    div.pagination a.pages:first-child,
    div.pagination a:link.pages:first-child,
    div.pagination a:visited.pages:first-child,
    div.pagination span.pages:first-child {
      padding-left: 0; }
    div.pagination a:first-child,
    div.pagination a:link:first-child,
    div.pagination a:visited:first-child,
    div.pagination span:first-child {
      -moz-border-radius-topleft: 2px;
      -webkit-border-top-left-radius: 2px;
      border-top-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-bottom-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    div.pagination a:last-child,
    div.pagination a:link:last-child,
    div.pagination a:visited:last-child,
    div.pagination span:last-child {
      -moz-border-radius-topright: 2px;
      -webkit-border-top-right-radius: 2px;
      border-top-right-radius: 2px;
      -moz-border-radius-bottomright: 2px;
      -webkit-border-bottom-right-radius: 2px;
      border-bottom-right-radius: 2px; }
  div.pagination span:hover {
    color: #444444;
    background-color: #f2f2f2; }
  div.pagination.prev-next {
    overflow: hidden; }
    div.pagination.prev-next a,
    div.pagination.prev-next a:link,
    div.pagination.prev-next a:visited {
      float: right;
      display: inline;
      width: auto;
      margin-right: 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
    div.pagination.prev-next a:first-child,
    div.pagination.prev-next a:link:first-child,
    div.pagination.prev-next a:visited:first-child {
      float: left; }
  div.pagination.prev-next.center {
    overflow: hidden;
    text-align: center; }
    div.pagination.prev-next.center a,
    div.pagination.prev-next.center a:link,
    div.pagination.prev-next.center a:visited {
      float: none;
      width: auto;
      margin-right: 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      display: inline-block; }
    div.pagination.prev-next.center a:first-child,
    div.pagination.prev-next.center a:link:first-child,
    div.pagination.prev-next.center a:visited:first-child {
      float: none; }
  div.pagination.prev-next.aleft {
    overflow: hidden;
    text-align: left; }
    div.pagination.prev-next.aleft a,
    div.pagination.prev-next.aleft a:link,
    div.pagination.prev-next.aleft a:visited {
      float: none;
      width: auto;
      margin-right: 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      display: inline-block; }
    div.pagination.prev-next.aleft a:first-child,
    div.pagination.prev-next.aleft a:link:first-child,
    div.pagination.prev-next.aleft a:visited:first-child {
      float: none; }
  div.pagination.prev-next.aright {
    overflow: hidden;
    text-align: right; }
    div.pagination.prev-next.aright a,
    div.pagination.prev-next.aright a:link,
    div.pagination.prev-next.aright a:visited {
      float: none;
      width: auto;
      margin-right: 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      display: inline-block; }
    div.pagination.prev-next.aright a:first-child,
    div.pagination.prev-next.aright a:link:first-child,
    div.pagination.prev-next.aright a:visited:first-child {
      float: none; }
  div.pagination [class^="icon-"] {
    line-height: .8; }

span.label,
a.label {
  background-color: #eeeeee;
  padding: 1px 6px 3px;
  line-height: 1;
  display: inline;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 0 white; }
  span.label.badge,
  a.label.badge {
    font-size: 10px;
    font-weight: bold;
    margin-top: -0.6em;
    margin-bottom: -0.25em;
    padding: .2em .5em .3em;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }

a.label:hover {
  color: #fff;
  background-color: #444444;
  text-shadow: none; }

.label {
  padding-left: 8px;
  padding-right: 8px; }
  .label.highlight {
    background-color: #fbfb54;
    text-shadow: none; }
  .label.note {
    background-color: #4787ed;
    color: white;
    text-shadow: 0 -1px 0 #0e3f8d; }
  .label.success {
    background-color: #2ad12a;
    color: white;
    text-shadow: 0 -1px 0 #21a721; }
  .label.warning {
    background-color: #fab40b;
    color: white;
    text-shadow: 0 -1px 0 #ce9304; }
  .label.error {
    background-color: #e53e3e;
    color: white;
    text-shadow: 0 -1px 0 #bd1919; }
  .label [class^="icon-"] {
    line-height: .9em;
    font-size: .9em;
    display: inline-block; }

.alert {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 0 white;
  position: relative;
  display: block;
  margin-bottom: 16px;
  padding: 8px 24px 8px 16px;
  background-color: #eeeeee; }
  .alert.close-toggle {
    padding: 8px baseline_height; }
  .alert p {
    line-height: 1.3em;
    margin-top: 8px;
    margin-bottom: 0; }
  .alert p:first-child {
    margin-top: 0; }
  .alert button.close {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s; }
    .alert button.close:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  .alert.highlight {
    background-color: #fbfb54;
    text-shadow: none; }
  .alert.note {
    background-color: #4787ed;
    color: white;
    text-shadow: 0 -1px 0 #0e3f8d; }
  .alert.success {
    background-color: #2ad12a;
    color: white;
    text-shadow: 0 -1px 0 #21a721; }
  .alert.warning {
    background-color: #fab40b;
    color: white;
    text-shadow: 0 -1px 0 #ce9304; }
  .alert.error {
    background-color: #e53e3e;
    color: white;
    text-shadow: 0 -1px 0 #bd1919; }
  .alert [class^="icon-"] {
    line-height: .8em; }

figure {
  display: block;
  overflow: hidden;
  margin: 0 0 16px;
  padding: 8px;
  width: auto;
  border: 1px solid #eeeeee;
  color: #6a6a6a;
  text-align: center; }
  figure img {
    margin: 0 auto; }
  figure figcaption {
    display: block;
    margin-top: 0.33654em;
    text-align: center;
    word-wrap: break-word;
    font-size: 0.65625em; }
  figure.flleft {
    display: inline;
    float: left;
    clear: left;
    margin: 0.21875em 0.875em 0.21875em 0;
    width: auto; }
  figure.flright {
    float: right;
    clear: right;
    display: inline;
    width: auto;
    margin: 0.21875em 0 0.21875em 0.875em; }

a.thumbnail {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  margin: 0 0 16px;
  padding: 8px;
  border: 1px solid #eeeeee;
  display: block;
  text-align: center; }
  a.thumbnail.flleft {
    display: inline;
    float: left;
    clear: left;
    margin: 0.21875em 0.875em 0.21875em 0;
    width: auto; }
  a.thumbnail.flright {
    display: inline;
    float: right;
    clear: right;
    margin: 0.21875em 0 0.21875em 0.875em;
    width: auto; }
  a.thumbnail:hover {
    border: 1px solid black; }

img.thumbnail {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  margin: 0 auto 16px;
  padding: 8px;
  border: 1px solid #eeeeee;
  display: block;
  text-align: center; }
  img.thumbnail.flleft {
    display: inline;
    float: left;
    clear: left;
    margin: 0.21875em 0.875em 0.21875em 0;
    width: auto; }
  img.thumbnail.flright {
    display: inline;
    float: right;
    clear: right;
    margin: 0.21875em 0 0.21875em 0.875em;
    width: auto; }

ul.gallery {
  list-style: none;
  overflow: hidden;
  margin-left: -2%; }
  ul.gallery li {
    display: inline;
    margin: 0; }
  ul.gallery a {
    float: left;
    margin: 0 0 2% 2%;
    padding: 8px;
    border: 1px solid #eeeeee; }
    ul.gallery a:hover {
      border-color: black; }
  ul.gallery.three-col a {
    width: 31.33%; }
  ul.gallery.three-col li:nth-child(3n+1) a {
    clear: left; }
  ul.gallery.four-col a {
    width: 23%; }
  ul.gallery.four-col li:nth-child(4n+1) a {
    clear: left; }

ul.idTabs:before, ul.idTabs:after {
  content: "";
  display: table; }

ul.idTabs:after {
  clear: both; }

ul.idTabs {
  zoom: 1; }

ul.idTabs {
  margin: 0;
  border-bottom: 1px solid #eeeeee; }
  ul.idTabs li {
    display: inline;
    line-height: 1em; }
    ul.idTabs li a {
      display: inline;
      float: left;
      margin: 0 8px -1px 0;
      padding: 8px 12px;
      width: auto;
      outline: none;
      border: 1px solid #eeeeee;
      background-color: #eeeeee; }
      ul.idTabs li a:hover {
        background-color: white; }
      ul.idTabs li a.selected {
        background-color: white;
        border-bottom: 1px solid white;
        color: black;
        cursor: default; }

div.tab {
  padding-top: 8px; }

nav.sticky {
  border: 1px solid #eeeeee;
  border-width: 1px 0;
  overflow: hidden;
  background-color: #fff; }
  nav.sticky li {
    display: inline; }
    nav.sticky li a {
      float: left;
      padding: 0 16px 0 0;
      font-weight: bold;
      line-height: 32px; }
      nav.sticky li a:hover {
        color: #f00; }
      nav.sticky li a.active {
        color: #f00; }
    nav.sticky li:first-child a {
      border-left: 0; }

.stuck {
  position: fixed;
  top: 0;
  z-index: 1000; }
  @media (max-width: 768px) {
    .stuck {
      left: 20px;
      right: 20px; } }

.flexslider {
  position: relative; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
ul.slides {
  margin: 0;
  list-style: none; }
  ul.slides li {
    margin: 0; }
  ul.slides p {
    font-size: 1em; }

ol.flex-control-nav {
  list-style: none;
  text-align: center;
  margin: 8px 0 0;
  clear: both;
  overflow: hidden; }
  ol.flex-control-nav li {
    margin: 0;
    display: inline-block;
    margin: 0 4px; }
    ol.flex-control-nav li a {
      display: block;
      width: 16px;
      height: 16px;
      background-color: #eeeeee;
      cursor: pointer;
      text-indent: -9999em;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      border-radius: 16px; }
      ol.flex-control-nav li a.flex-active {
        background-color: #444444; }

ul.flex-direction-nav {
  list-style: none;
  position: absolute;
  top: 39%;
  left: 0;
  right: 0; }
  ul.flex-direction-nav li {
    margin: 0; }
    ul.flex-direction-nav li a {
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      opacity: 0.3;
      display: inline;
      float: left;
      width: 48px;
      height: 48px;
      text-indent: -99999em;
      background: url(../images/bg_direction_nav.png) no-repeat 0 0;
      outline: none; }
      ul.flex-direction-nav li a:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
      ul.flex-direction-nav li a.flex-next {
        float: right;
        background: url(../images/bg_direction_nav.png) no-repeat -48px 0; }

.reveal-modal table,
.reveal-modal form {
  margin: 0;
  overflow: visible; }

.reveal-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.reveal-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  visibility: hidden;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  background: #fff; }
  @media (min-width: 768px) {
    .reveal-modal {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 0 10px black;
      -moz-box-shadow: 0 0 10px black;
      box-shadow: 0 0 10px black;
      position: fixed;
      top: 100px;
      left: 50%;
      width: 500px;
      margin-left: -250px; }
      .reveal-modal.small {
        width: 200px;
        margin-left: -100px; }
      .reveal-modal.medium {
        width: 400px;
        margin-left: -200px; }
      .reveal-modal.large {
        width: 600px;
        margin-left: -300px; }
      .reveal-modal.xlarge {
        width: 800px;
        margin-left: -400px; } }
  .reveal-modal .reveal-modal-header,
  .reveal-modal .reveal-modal-footer {
    background-color: #eeeeee;
    padding: 20px;
    overflow: hidden; }
    .reveal-modal .reveal-modal-header *,
    .reveal-modal .reveal-modal-footer * {
      margin: 0; }
  .reveal-modal .reveal-modal-header {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #d4d4d4;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
  .reveal-modal .reveal-modal-footer {
    margin-bottom: -20px;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #d4d4d4;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  .reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #444444;
    font-weight: bold;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s; }
    .reveal-modal .close-reveal-modal:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

nav[role="navigation"] {
  clear: both; }
  nav[role="navigation"] ul {
    border-top: 1px solid #eeeeee; }
    nav[role="navigation"] ul ul {
      border: 0; }
  nav[role="navigation"] li {
    position: relative;
    z-index: 1;
    display: block; }
    nav[role="navigation"] li a {
      display: block;
      border-bottom: 1px solid #eeeeee;
      line-height: 32px; }
    nav[role="navigation"] li i {
      border: 1px solid #eeeeee;
      border-width: 0 0 0 1px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 10.66667px;
      font-style: normal;
      font-size: 0.7em;
      font-family: FontAwesome;
      line-height: 32px;
      cursor: pointer; }
      nav[role="navigation"] li i:before {
        content: "\f078"; }
      nav[role="navigation"] li i.expanded:before {
        content: "\f077"; }

.container12,
.container16 {
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden; }

.row:before,
.row:after {
  display: table;
  content: ""; }

.row:after {
  clear: both; }

.row {
  *zoom: 1; }

@media only screen and (min-width: 768px) {
  .row {
    margin-left: -20px; }

  [class*=span] {
    float: left;
    margin-left: 20px; }

  .container12,
  .container16 {
    width: 768px;
    padding: 0 10px; }

  .container16 .span1 {
    width: 28px; }
  .container16 .span2 {
    width: 76px; }
  .container16 .span3 {
    width: 124px; }
  .container16 .span4 {
    width: 172px; }
  .container16 .span5 {
    width: 220px; }
  .container16 .span6 {
    width: 268px; }
  .container16 .span7 {
    width: 316px; }
  .container16 .span8 {
    width: 364px; }
  .container16 .span9 {
    width: 412px; }
  .container16 .span10 {
    width: 460px; }
  .container16 .span11 {
    width: 508px; }
  .container16 .span12 {
    width: 556px; }
  .container16 .span13 {
    width: 604px; }
  .container16 .span14 {
    width: 652px; }
  .container16 .span15 {
    width: 700px; }
  .container16 .span16 {
    width: 748px; }
  .container16 .offset1 {
    margin-left: 68px; }
  .container16 .offset2 {
    margin-left: 116px; }
  .container16 .offset3 {
    margin-left: 164px; }
  .container16 .offset4 {
    margin-left: 212px; }
  .container16 .offset5 {
    margin-left: 260px; }
  .container16 .offset6 {
    margin-left: 308px; }
  .container16 .offset7 {
    margin-left: 356px; }
  .container16 .offset8 {
    margin-left: 404px; }
  .container16 .offset9 {
    margin-left: 452px; }
  .container16 .offset10 {
    margin-left: 500px; }
  .container16 .offset11 {
    margin-left: 548px; }
  .container16 .offset12 {
    margin-left: 596px; }
  .container16 .offset13 {
    margin-left: 644px; }
  .container16 .offset14 {
    margin-left: 692px; }
  .container16 .offset15 {
    margin-left: 740px; }

  .container12 .span1 {
    width: 44px; }
  .container12 .span2 {
    width: 108px; }
  .container12 .span3 {
    width: 172px; }
  .container12 .span4 {
    width: 236px; }
  .container12 .span5 {
    width: 300px; }
  .container12 .span6 {
    width: 364px; }
  .container12 .span7 {
    width: 428px; }
  .container12 .span8 {
    width: 492px; }
  .container12 .span9 {
    width: 556px; }
  .container12 .span10 {
    width: 620px; }
  .container12 .span11 {
    width: 684px; }
  .container12 .span12 {
    width: 748px; }
  .container12 .offset1 {
    margin-left: 84px; }
  .container12 .offset2 {
    margin-left: 148px; }
  .container12 .offset3 {
    margin-left: 212px; }
  .container12 .offset4 {
    margin-left: 276px; }
  .container12 .offset5 {
    margin-left: 340px; }
  .container12 .offset6 {
    margin-left: 404px; }
  .container12 .offset7 {
    margin-left: 468px; }
  .container12 .offset8 {
    margin-left: 532px; }
  .container12 .offset9 {
    margin-left: 596px; }
  .container12 .offset10 {
    margin-left: 660px; }
  .container12 .offset11 {
    margin-left: 724px; }

  header[role="banner"] .logo {
    float: left; }

  nav[role="navigation"] {
    clear: none;
    float: right; }
    nav[role="navigation"] ul {
      border: 0; }
    nav[role="navigation"] li {
      display: inline;
      float: left; }
      nav[role="navigation"] li i {
        float: left;
        position: static;
        border: 0; }
      nav[role="navigation"] li a {
        border-bottom: 0;
        float: left;
        display: inline;
        padding: 0 8px; }
      nav[role="navigation"] li ul {
        position: absolute;
        top: 32px;
        display: none;
        width: 200px;
        border: 0; }
        nav[role="navigation"] li ul ul {
          position: absolute;
          top: 0;
          left: 100%; }
        nav[role="navigation"] li ul li {
          position: relative;
          display: block;
          float: none; }
          nav[role="navigation"] li ul li i {
            position: absolute;
            top: 0;
            right: 0; }
        nav[role="navigation"] li ul a {
          display: block;
          float: none; }

  header[role="banner"] form {
    float: right;
    clear: right; } }
@media only screen and (min-width: 1024px) {
  .row {
    margin-left: -20px; }

  [class*=span] {
    float: left;
    margin-left: 20px; }

  .container12,
  .container16 {
    width: 1008px;
    padding: 0 10px; }

  .container16 .span1 {
    width: 43px; }
  .container16 .span2 {
    width: 106px; }
  .container16 .span3 {
    width: 169px; }
  .container16 .span4 {
    width: 232px; }
  .container16 .span5 {
    width: 295px; }
  .container16 .span6 {
    width: 358px; }
  .container16 .span7 {
    width: 421px; }
  .container16 .span8 {
    width: 484px; }
  .container16 .span9 {
    width: 547px; }
  .container16 .span10 {
    width: 610px; }
  .container16 .span11 {
    width: 673px; }
  .container16 .span12 {
    width: 736px; }
  .container16 .span13 {
    width: 799px; }
  .container16 .span14 {
    width: 862px; }
  .container16 .span15 {
    width: 925px; }
  .container16 .span16 {
    width: 988px; }
  .container16 .offset1 {
    margin-left: 83px; }
  .container16 .offset2 {
    margin-left: 146px; }
  .container16 .offset3 {
    margin-left: 209px; }
  .container16 .offset4 {
    margin-left: 272px; }
  .container16 .offset5 {
    margin-left: 335px; }
  .container16 .offset6 {
    margin-left: 398px; }
  .container16 .offset7 {
    margin-left: 461px; }
  .container16 .offset8 {
    margin-left: 524px; }
  .container16 .offset9 {
    margin-left: 587px; }
  .container16 .offset10 {
    margin-left: 650px; }
  .container16 .offset11 {
    margin-left: 713px; }
  .container16 .offset12 {
    margin-left: 776px; }
  .container16 .offset13 {
    margin-left: 839px; }
  .container16 .offset14 {
    margin-left: 902px; }
  .container16 .offset15 {
    margin-left: 965px; }

  .container12 .span1 {
    width: 64px; }
  .container12 .span2 {
    width: 148px; }
  .container12 .span3 {
    width: 232px; }
  .container12 .span4 {
    width: 316px; }
  .container12 .span5 {
    width: 400px; }
  .container12 .span6 {
    width: 484px; }
  .container12 .span7 {
    width: 568px; }
  .container12 .span8 {
    width: 652px; }
  .container12 .span9 {
    width: 736px; }
  .container12 .span10 {
    width: 820px; }
  .container12 .span11 {
    width: 904px; }
  .container12 .span12 {
    width: 988px; }
  .container12 .offset1 {
    margin-left: 104px; }
  .container12 .offset2 {
    margin-left: 188px; }
  .container12 .offset3 {
    margin-left: 272px; }
  .container12 .offset4 {
    margin-left: 356px; }
  .container12 .offset5 {
    margin-left: 440px; }
  .container12 .offset6 {
    margin-left: 524px; }
  .container12 .offset7 {
    margin-left: 608px; }
  .container12 .offset8 {
    margin-left: 692px; }
  .container12 .offset9 {
    margin-left: 776px; }
  .container12 .offset10 {
    margin-left: 860px; }
  .container12 .offset11 {
    margin-left: 944px; } }
@media only screen and (min-width: 1280px) {
  .row {
    margin-left: -30px; }

  [class*=span] {
    float: left;
    margin-left: 30px; }

  .container12,
  .container16 {
    width: 1230px;
    padding: 0 30px; }

  .container16 .span1 {
    width: 45px; }
  .container16 .span2 {
    width: 120px; }
  .container16 .span3 {
    width: 195px; }
  .container16 .span4 {
    width: 270px; }
  .container16 .span5 {
    width: 345px; }
  .container16 .span6 {
    width: 420px; }
  .container16 .span7 {
    width: 495px; }
  .container16 .span8 {
    width: 570px; }
  .container16 .span9 {
    width: 645px; }
  .container16 .span10 {
    width: 720px; }
  .container16 .span11 {
    width: 795px; }
  .container16 .span12 {
    width: 870px; }
  .container16 .span13 {
    width: 945px; }
  .container16 .span14 {
    width: 1020px; }
  .container16 .span15 {
    width: 1095px; }
  .container16 .span16 {
    width: 1170px; }
  .container16 .offset1 {
    margin-left: 105px; }
  .container16 .offset2 {
    margin-left: 180px; }
  .container16 .offset3 {
    margin-left: 255px; }
  .container16 .offset4 {
    margin-left: 330px; }
  .container16 .offset5 {
    margin-left: 405px; }
  .container16 .offset6 {
    margin-left: 480px; }
  .container16 .offset7 {
    margin-left: 555px; }
  .container16 .offset8 {
    margin-left: 630px; }
  .container16 .offset9 {
    margin-left: 705px; }
  .container16 .offset10 {
    margin-left: 780px; }
  .container16 .offset11 {
    margin-left: 855px; }
  .container16 .offset12 {
    margin-left: 930px; }
  .container16 .offset13 {
    margin-left: 1005px; }
  .container16 .offset14 {
    margin-left: 1080px; }
  .container16 .offset15 {
    margin-left: 1155px; }

  .container12 .span1 {
    width: 70px; }
  .container12 .span2 {
    width: 170px; }
  .container12 .span3 {
    width: 270px; }
  .container12 .span4 {
    width: 370px; }
  .container12 .span5 {
    width: 470px; }
  .container12 .span6 {
    width: 570px; }
  .container12 .span7 {
    width: 670px; }
  .container12 .span8 {
    width: 770px; }
  .container12 .span9 {
    width: 870px; }
  .container12 .span10 {
    width: 970px; }
  .container12 .span11 {
    width: 1070px; }
  .container12 .span12 {
    width: 1170px; }
  .container12 .offset1 {
    margin-left: 130px; }
  .container12 .offset2 {
    margin-left: 230px; }
  .container12 .offset3 {
    margin-left: 330px; }
  .container12 .offset4 {
    margin-left: 430px; }
  .container12 .offset5 {
    margin-left: 530px; }
  .container12 .offset6 {
    margin-left: 630px; }
  .container12 .offset7 {
    margin-left: 730px; }
  .container12 .offset8 {
    margin-left: 830px; }
  .container12 .offset9 {
    margin-left: 930px; }
  .container12 .offset10 {
    margin-left: 1030px; }
  .container12 .offset11 {
    margin-left: 1130px; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    text-align: left !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
