//	Variables used:
// 	$modal_border_radius
// 	$baseline_height
// 	$dark_grey
// 	$light_grey

$modal_border_radius: $border_radius;

.reveal-modal {
	table,
	form {margin: 0; overflow: visible;}
	//* {@include transition-property(none);}
	}

.reveal-modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	}

.reveal-modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
	visibility: hidden;
	overflow: hidden;
	padding: 20px;
	width: 100%;
	background: #fff;
	@include breakpoint(portrait) {
		@include border-radius($modal_border_radius);
		@include box-shadow(0 0 10px #000);
		position: fixed;
		top: 100px;
		left: 50%;
		width: 500px;
		margin-left: -250px;
		//	classes (width)
		&.small {width: 200px; margin-left: -100px;}
		&.medium {width: 400px; margin-left: -200px;}
		&.large {width: 600px; margin-left: -300px;}
		&.xlarge {width: 800px; margin-left: -400px;}
	}

	//	header and footer
	.reveal-modal-header,
	.reveal-modal-footer {
		background-color: $light_grey;
		padding: 20px;
		overflow: hidden;
		* {margin: 0;}
		}
	.reveal-modal-header {
		margin-top: -20px;
		margin-bottom: 20px;
		margin-left: -20px;
		margin-right: -20px;
		border-bottom: 1px solid darken($light_grey, 10%);
		@include border-top-left-radius($modal_border_radius);
		@include border-top-right-radius($modal_border_radius);
		}
	.reveal-modal-footer {
		margin-bottom: -20px;
		margin-top: 20px;
		margin-left: -20px;
		margin-right: -20px;
		border-top: 1px solid darken($light_grey, 10%);
		@include border-bottom-left-radius($modal_border_radius);
		@include border-bottom-right-radius($modal_border_radius);
		}

	.close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: $dark_grey;
		font-weight: bold;
		cursor: pointer;
		@include opacity(.7);
		@include transition-property(opacity);
		@include transition-duration(.15s);
		&:hover {@include opacity(1);}
		}

	}

//
//
//		NOTES
//
//		Close button entity is &times;
//
//		Example markup
//
//		<div id="myModal" class="reveal-modal">
//			<h2>Awesome. I have it.</h2>
//			<p class="lead">Your couch.  I it's mine.</p>
//			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna //	quis turpis mattis venenatis eget id diam. </p>
//			<a class="close-reveal-modal">&times;</a>
//		</div>
//
//		*/
